set -e
DIR=`pwd`

PATH_add $DIR/.direnv/bin

init() {
  if [ ! -d $DIR/$1/node_modules ]; then
    if ! [ -x "$(command -v pnpm)" ]; then
      npm install -g pnpm
    fi
    if ! [ -x "$(command -v ni)" ]; then
      npm install -g @antfu/ni
    fi
    if [ -x "$(command -v asdf)" ]; then
      asdf reshim
    fi
    cd $DIR/$1
    ni
    cd $DIR
  fi
}

init .

if [ -f '.env' ]; then
dotenv
fi

