// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap')
@import url('https://fonts.ews1.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap')

a
  cursor pointer
  text-decoration none

html, body
  height 100%

body
  align-items center
  display flex
  flex-direction column
  font-family Lato, 'Noto Sans SC', 'Helvetica Neue', 'PingFang SC', 'Microsoft YaHei', sans-serif
  font-size 16px
  justify-content center
  margin 0
  text-rendering geometricPrecision
